@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: #f2f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-input {
    @apply px-3 py-3 ring-2 ring-gray-300 rounded-full hover:ring-gray-400;
  }

  .primary-button {
    @apply bg-primary text-white rounded-full py-3 w-72;
  }
  .secondary-button {
    @apply bg-white text-primaryD rounded-full py-3 w-64;
  }

  .secondary-input {
    @apply px-3 py-3 ring-1 bg-primaryD ring-white rounded-full;
  }

  .sidemenu-options > li {
    @apply w-full text-white py-2 flex cursor-pointer gap-x-5 px-5 py-4 font-normal text-lg hover:border-r-2 hover:border-r-white transition-[100ms];
  }

  .ticketCard {
    box-shadow: 0px 6px 25px 0px #00000024;
  }
}
