@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-input {
    @apply px-3 py-3 ring-2 ring-gray-300 rounded-full;
  }

  .primary-button {
    @apply bg-primary text-white rounded-full py-3 w-64;
  }
}
